<div id="accordion">
  <% events.each do |event| %>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link text-black-50" data-toggle="collapse" href="#collapse<%= event.id %>">
            <%= event.title %>
          </a>
        </div>
        <div id="collapse<%= event.id %>" class="collapse" data-parent="#accordion">
          <div class="card-body">
              <p>
              <b>Description:</b> <%= event.description %><br/>
        <b>Date:</b> <%= event.date %><br/>
        <b>Location:</b> <%= event.location %></p>
      <div class='float-right pb-3'>
        <%= link_to 'Show', event, class: 'btn btn-secondary' %>
        <%= link_to 'Edit', edit_event_path(event), class: 'btn btn-secondary' %>
        <%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-secondary' %>
      </div>
      <%# float %>
    </div>
    <%# card-body %>
  </div>
  <%# collapse %>
</div>
<%# card %>
<% end %>
</div>
